*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/res/values/cred.xml
/app/libs/HERE-sdk.aar
/app/libs/HERE-sdk-javadoc.jar
.idea/
app/src/main/res/values/cred.xml
